.dogParkImageSizing{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50%;
}

.background{
  background: linear-gradient(white, rgb(0, 110, 255)
  );
}
