.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.login-card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  color: #1b4392;
  padding: 20px;
}

.login-card h1 {
  margin-bottom: 20px;
}

.login-card label {
  display: block;
  margin-bottom: 8px;
  color: #1b4392;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error-list {
  list-style-type: none;
  padding: 0;
  color: red;
  margin-bottom: 20px;
}

.submit-button {
  background-color: #1b4392;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-link {
  color: black;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.signup-button {
  background-color: #1b4392;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forgot-password-link {
  color: blue;
  text-decoration: underline;
  text-align: right;
  display: block;
  margin-top: 10px;
}


.signup-card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  color: #1b4392;
  padding: 20px;
}

.signup-card h1 {
  margin-bottom: 20px;
}

.signup-card label {
  display: block;
  margin-bottom: 8px;
  color: #1b4392;
}

.signup-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-mismatch {
  color: red;
  margin-top: -10px;
  margin-bottom: 20px;
}