.dog-card {
  border: solid;
  border-color: #3852c2;
  padding: 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  color: #1b4392;
  width: flex;
}
  .text{
  word-wrap: break-word;
}
.dog-card div {
  display: flex;
  justify-content: space-between;
}

.dog-card .dogImageSizing {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  padding: 1%;
}

.side-content-center {
  text-align: end;
  word-wrap: normal;
  padding: 0%;
}

.dog-card:hover {
  box-shadow: 0 8px 16px 0 rgba(3, 7, 243, 0.685);
}


.background{
  background: linear-gradient(white, rgb(0, 110, 255)
  );
}
