.meetup-card {
  border: solid;
  border-color: #3852c2;
  
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  color: #1b4392;
}

.meetup-card-inner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  /* display: fit-content; */
  /* text-align: center; */
  /* width:min-content;
  height: min-content; */
  color: #1b4392;
}

.meetup-image-left{
  text-align: left;
  margin: 20px;
  width: 400px;
  height: 400px;
}

.meetup-image-right{
  text-align: right;
  margin: 20px;
  width: 400px;
  height: 400px;
}

.meetup-card:hover {
  box-shadow: 0 8px 16px 0 rgba(3, 7, 243, 0.685);
}
